@{
	ViewBag.Title = "Vote";
}

<script>

	function _on_load() {
		document.forms[0]["new_tag_name"].focus();
	}

	function _on_regist() {
		document.forms[0].action = "/Home/Regist";
		document.forms[0].method = "post";
		document.forms[0].submit();
	}

	window.onload = _on_load;

</script>

<div class="jumbotron">

	<p class="lead">興味のある話題やキーワードを投稿してください</p>
	<input type="text" id="new_tag_name" name="new_tag_name" size="80%"/>
	<input type="submit" id="" name="" value="  送信  " onclick="javascript: _on_regist();" />



	<br />
	<br />
	<br />
	<br />
	<p class="lead">興味のある話題やキーワードに投票してください。より多くの人が関心を示したものから順番に表示されます。</p>
	<table border="1">
		<tr>
			<th>興味のある話題・キーワード</th>
			<th>ポイント☆</th>
		</tr>
		@{
			var rows = GlobalQueue.EnumAll();
		}
		@foreach (System.Data.DataRow row in rows)
		{
			string s = "" + row["tag"];
			<tr>
				<td>@s</td>
				<td>@row["count"] @Html.ActionLink("興味あり", "Index", "./Home/Vote", new { tag = "" + s }, null)</td>
			</tr>
		}
	</table>

</div>
